html, body{
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #fcfcfc;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.phone {
    font-family: 'Roboto', sans-serif;
    width: 15rem;
    height: 28.13rem;
    background: #000;
    border-radius: 1.7rem;
    position: absolute;
    left: 50%;
    bottom: 0.5rem;
    transform: translateX(-50%);
    border: 0.6rem solid #242424;
    overflow: hidden;
    transition: 0.5s bottom;
    opacity: 0;
}

.phone.open{
    bottom: 0.5rem;
    opacity: 1;
}

.phone.closed{
    bottom: -29rem;
    opacity: 1;
}

.phone .screen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.8rem;
    background: #222;
    width: 95%;
    height: 97%;
    overflow: hidden;
}

.phone .tab-phone{
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    width: 55%;
    height: 1.5rem;
    border-radius: 0 0 0.6rem 0.6rem;
    z-index: 2;
}

.phone .reflection{
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(45deg, rgba(89,89,89,1) 0%,rgba(128,128,128,1) 47%, rgba(153,153,153,1) 53%, rgba(255,255,255,1) 100% );
    opacity: 0.2;
}

.block-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 1.5rem;
    transition: 0.7s top;
    z-index: 10;
}

.block-screen.unlock{
    top: -150%;
}

.block-screen::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/background-phone.jpg') 100% center;
    background-size: cover;
    z-index: -1;
}

.block-screen .time, .block-screen .date, .block-screen i, .block-screen .unlock-button {
    color: white;
    margin-top: 0.5rem;
}

.block-screen .unlock-button{
    margin-top: 15rem;
}

.block-screen .time {
    font-size: 2.5rem;
    font-weight: 100;
}

.icons-phone{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
    margin-top: 0.2rem;
    z-index: 200;
}

.icons-phone i {
    font-size: 0.6rem;
    margin: 0.1rem;
}

.menu-screen{
    background: #eee;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: -150%;
    left: 0;
    transition: 0.3s bottom;
    z-index: 20;
}

.menu-screen.open{
    bottom: 0;
}

.menu-screen header{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 0.5rem;
    padding-top: 2rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #aaa;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-screen ul{
    background: white;
    padding: 0 1rem;
    margin: 0;
    margin-top: 1rem;
    list-style: none;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    font-size: 0.75rem;
}

.menu-screen ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-screen ul li span {
    padding: 0.5rem 0;
    border-top: 1px solid #aaa;
    width: 80%;
    display: inline-block;
}

.menu-screen ul li:first-child span {
    border-top: 0px solid #aaa;
}

.home-menu{
    background: url('../images/background-home.jpg') 100% center;
    background-size: cover;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.home-menu footer{
    position: absolute;
    bottom: 0.5rem;
    border-radius: 1rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    box-sizing: border-box;
}

.home-menu footer .glass-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.4;
    z-index: 0;
}

.button-phone, .button-car, .button-messages, .button-actions {
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    border-radius: 0.4rem;
    z-index: 2;
}

.button-phone{
    background: linear-gradient(to bottom, rgba(124,188,93,1) 0%, rgba(68,171,54,1) 100%);
}

.button-messages{
    background: linear-gradient(to bottom, rgba(93,119,186,1) 0%, rgba(55,61,171,1) 100%);
}

.button-car{
    background: linear-gradient(to bottom, rgba(184,113,92,1) 0%, rgba(171,56,56,1) 100%);
}

.button-actions{
    background: linear-gradient(to bottom, rgba(122,184,92,1) 0%, rgba(56,171,165,1) 100%);
}


@keyframes unlock {
    0% {
        top: 0;
    }

    70% {
        top: -50%;
    }

    80% {
        top: -80%;
    }

    90% {
        top: -100%;
    }

    100%{
        top: -150%;
    }
}

@keyframes lock {
    0% {
        top: -150%;
    }

    70% {
        top: -100%;
    }

    80% {
        top: -80%;
    }

    90% {
        top: -50%;
    }

    100%{
        top: 0;
    }
}